<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Protagonist - LadderUpCycle0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{131,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{133,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{199,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{261,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{265,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{331,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{391,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{397,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{463,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{521,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{529,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{595,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{651,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{661,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{727,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{781,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{793,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{859,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{911,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{925,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{991,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1041,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1057,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1123,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1171,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1189,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1255,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1301,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1321,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1387,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1431,131},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Protagonist - LadderUpCycle0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1453,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Protagonist - LadderUpCycle0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1519,1},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Protagonist_ClimbUpLadder.png</string>
            <key>size</key>
            <string>{1584,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a7d7116dd20f04616157b4475185d12:883fa3e39c95a9c7562bce431fcd20a0:b50d178f719a0a7cc1d758102933e0fa$</string>
            <key>textureFileName</key>
            <string>Protagonist_ClimbUpLadder.png</string>
        </dict>
    </dict>
</plist>
